.navigation {
    width: 100%;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
        width: 50%;

        .title-h3 {
            margin-left: 64px;
            font-size: 2rem;
        }
    }
}
